*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}

nav ul li{
    padding: 0 12px;
   
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;

}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    /* background-image: url(); */
    display: flex;

    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 32px;
   background-image: url('bg.jpg');

}

.songItemcontainer{
    margin-top: 34px;
}
.bottom{
    position: static;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.fa-3x{
   
}
.icons{
    margin-top: 13px;
}
.icons i{
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;

}
.songItem img{
    width: 33px;
    margin: 0 23px;  
    border-radius: 2px; 
}
.timestamp{
    margin: 0 20px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
     opacity: 0;
     transition: opacity 0.4s ease-in;
}